.formsflow-button {
    // min-width: 9.313rem;
    // min-height: 2.75rem;
    max-width: 21.438rem;
    line-height: 1;
    letter-spacing: 0rem;
    opacity: 1;
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    top: 131.938rem;
    left: 25.375rem;
    
  }
  .formsflow-button-item-container{
    display: flex;
    align-items:center;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .formsflow-button-item-container-rev{
    @extend .formsflow-button-item-container;
    flex-direction: row-reverse;
  }
  
  .formsflow-button--text{
    text-align: left;
    font-weight: 600;
    top: 132.625rem;
    left: 26.875rem;
  }
  .formsflow-button--primary {
    color: white;
    background-color: #1B34FB;
  }
  .formsflow-button--primary:hover {
    background-color: #102094;
  }
  .formsflow-button--primary:focus {
    border: 2px solid #3B99FC;
  }
  
  .formsflow-button--secondary {
    color: #131313;
    background-color: white;
    border: 1px solid #B4B4B4;
  }
  
  .formsflow-button--secondary:hover {
    color: #131313;
    background-color: #E6E6E6;
    border: 1px solid #B4B4B4;
  }
  
  .formsflow-button--tertiary{
    min-width: 6.188rem;
    min-height: 2.75rem;
    background-color: white;
    font-weight: 600;
  }
  .formsflow-button--tertiary:hover{
    background-color: #E6E6E6;
  }
  .formsflow-button--tertiary:focus{
    border: 2px solid #3B99FC;
  }
  .formsflow-critical{
    color: formsflow-red;
    background-color: white;
    font-weight: 600;
  }
  .formsflow-critical:hover{
    background-color: #F7DBDB;
  }
  .formsflow-critical:focus{
    border: 2px solid #3B99FC;
  }
  .formsflow-positive{
    color: #157F1F;
    background-color: white;
    font-weight: 600;
  }
  .formsflow-positive:hover{
    background-color: #CDE8D0;
  }
  .formsflow-positive:focus{
    border: 2px solid #3B99FC;
  }
  
  .formsflow-button--primary:disabled{
    background-color: #CED7E0;
    color: white;
    cursor: not-allowed;
  }
  .formsflow-button--secondary:disabled{
    background-color: white;
    color: #CED7E0;
    cursor: not-allowed;
  }
  .formsflow-button--tertiary:disabled{
    background-color: white;
    color: #CED7E0;
    cursor: not-allowed;
  }