.formsflow-d-flex{
    display: flex;
}

.formsflow-justify-content-between{
    justify-content: space-between;
}

.formsflow-justify-content-evenly{
    justify-content: space-evenly;
}

.formsflow-justify-content-around{
    justify-content: space-around;
}

.formsflow-justify-content-start{
    justify-content: start;
}

.formsflow-child-m-3 > *{
    margin-right: 1rem;
}