

.formsflow-text-primary{
    color:$color-text-primary ;
}
.formsflow-text-secondary{
    color:$color-text-secondary ;
}
.formsflow-text-success{
    color:$color-text-success ;
}
.formsflow-text-warning{
    color:$color-text-warning ;
}

.formsflow-text-danger{
    color:$color-text-danger ;
}