@use "../config.scss";
@use "../utils.scss";


%btn{
    display: inline-block;
    margin: 3px;
    transition: 0.2s;
    border: none;
}
.fwf-btn-primary{
    background-color: config.$fwf-primary;
    color: config.$fwf-text-white;
    &:hover{
        background-color: config.$fwf-hover-blue;
        color: config.$fwf-primary;
    }
}

.fwf-btn-secondary{
    background-color: config.$fwf-secondary;
    color: config.$fwf-text-white;
    &:hover{
        background-color: config.$fwf-hover-blue;
        color: config.$fwf-secondary;
    }
}



.fwf-btn-warning{
    background-color: config.$fwf-warning;
    color: config.$fwf-text-white;
    &:hover{
        background-color: config.$fwf-hover-blue;
        color: config.$fwf-warning;
    }
}


.fwf-btn-danger{
    background-color: config.$fwf-danger;
    color: config.$fwf-text-white;
    &:hover{
        background-color: config.$fwf-hover-blue;
        color: config.$fwf-primary;
    }
}

.fwf-btn{
    @extend %btn;
}

.fwf-btn-small{
    padding: 6px 18px;
    
}

.fwf-btn-medium{
    padding: 8px 20px;
}

.fwf-btn-large{
    padding: 12px 24px;
}

.fwf-btn-scale-down{
    &:hover{
        transform: scale(.98);
    }
}

.fwf-btn-scale-up{
    &:hover{
        transform: scale(1.1);
    }
}

