/* Styles for step tabs start */

.formsflow-steps{
    display: flex;
   }
   
.formsflow-steps .step {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 6rem;
    border: 1px solid $color-light-secondary;
    background-color: $color-bg-white;
}
.formsflow-steps .active + .step:not(.active) {
    background-color: $color-light-secondary;
}

.formsflow-steps .step span{
    background-color: $color-bg-black;
    color: $color-text-white;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.formsflow-steps .step div{
    text-align: left;
}
.formsflow-steps .step .title{
    text-transform: capitalize;
    font-weight: bold;
}

.formsflow-steps .active {
    background-color: $color-light-success;
    outline: none;
    span{
    background-color: $color-neutral-success;
    }
}

.formsflow-steps .step:after, .formsflow-steps .step:before {
	left: 100%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    z-index: 1;
}

.formsflow-steps .step:not(:last-child):after {
	border-color: transparent;
	border-left-color: $color-bg-white;
	border-width: 0.5rem;
}


.formsflow-steps .step:not(:last-child):before {
	border-color: transparent;
	border-left-color: inherit;
	border-width: 0.625rem;
}

.formsflow-steps .active:not(:last-child):before {
	border-color: transparent;
	border-left-color: $color-light-success;
	border-width: 0.625rem;
}

.formsflow-steps .active:not(:last-child):after {
	border-color: transparent;
	border-left-color: $color-light-success;
	border-width: 0.5rem;
}

.formsflow-steps .active + .step:not(.active):not(:last-child):after {
    border-left-color: $color-light-secondary;
}

/* Styles for step tabs end */