/*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * LAYOUT.................................Layout-specific styles
 * COMPONENTS.............................Component styles
 * UTILITIES..............................Utility classes
 */
/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/
/**
 * CONTENTS
 *
 * COLORS
 * Brand Colors...............Globally-available variables and config
 * Neutral Colors.............Grayscale colors, including white and black
 * Utility Colors.............Info, Warning, Error, Success
 *
 * TYPOGRAPHY
 * Font Families..............The fonts used in the design system
 * Sizing.....................Font sizing
 *
 * LAYOUT
 * Max-widths.................Maximum layout container width
 *

 * SPACING
 * Spacing defaults...........Spacing between elements
 *
 * BORDERS
 * Border Width...............Border thicknesses
 * Border Radius..............Border radius definitions
 *
 * ANIMATION
 * Animation Speed............Transition/animation speed variables
 * Animation easing...........Easing variables
 *
 * BREAKPOINTS
 * Breakpoints................Global breakpoint definitions
 */
/*------------------------------------*\
     #COLORS
 \*------------------------------------*/
/**
 * Brand Colors
 * 1) Brand=specific colors
 */
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Font Family
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
/**
 * Font Sizing
 */
/**
 * Line Height
 */
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * Max Width
 */
/*------------------------------------*\
    #SPACING
\*------------------------------------*/
/**
 * Spacing and offsets
 * 1) Used to space grids and body padding
 */
/*------------------------------------*\
    #BORDERS
\*------------------------------------*/
/**
 * Border
 */
/**
 * Border radius
 */
/*------------------------------------*\
    #ANIMATION
\*------------------------------------*/
/**
 * Transition Speed
 */
/**
 * Transition Ease
 */
/*------------------------------------*\
    #BREAKPOINTS
\*------------------------------------*/
/**
 * Breakpoints used in media queries
 * 1) These are not the only breakpoints used, but they provide a few defaults
 */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
 * Body Styles
 * 1) Prevent Mobile Safari from scaling up text: https://blog.55minutes.com/2012/04/iphone-text-resizing/
 */
/**
 * XL Type Styles
 */
/**
 * XL Heading Styles
 */
/**
 * XL Heading Styles
 */
/**
 * Large Heading Styles
 */
/**
 * Medium 2 Heading Styles
 */
/**
 * Medium Heading Styles
 */
/*------------------------------------*\
    #COLORS
\*------------------------------------*/
/**
 * In this file, we take the literal colors from our palette (defined in variables.scss)
 * and define them against variables that we can utilise anywhere throughout the project.
 */
/*------------------------------------*\
    #GLOBAL TEXT COLOR
\*------------------------------------*/
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
.formsflow-btn {
  font-family: var(--formsflow-font-family, "Poppins", sans-serif);
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: 0.3s ease-out; }

.formsflow-btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

.formsflow-btn-md {
  padding: 0.375rem 0.75rem; }

.formsflow-btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; }

.formsflow-btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  border-radius: 0.2rem; }

.formsflow-btn-primary {
  color: var(--formsflow-text-white, #ffff);
  background-color: var(--formsflow-primary, #1b34fb); }

.formsflow-btn-primary:hover {
  background-color: var(--formsflow-dark-primary, #102094); }

.formsflow-btn-primary:focus {
  border: 2px solid var(--formsflow-lightest-Primary, #e8eafe); }

.formsflow-btn-primary-outline {
  color: var(--formsflow-primary, #1b34fb);
  background-color: var(--formsflow-bg-white, #ffff);
  border: 2px solid var(--formsflow-lightest-Primary, #e8eafe); }

.formsflow-btn-primary-outline:hover {
  color: var(--formsflow-text-white, #ffff);
  background-color: var(--formsflow-dark-primary, #102094); }

.formsflow-btn-primary-outline:focus {
  color: var(--formsflow-text-white, #ffff);
  background-color: var(--formsflow-primary, #1b34fb); }

.formsflow-btn-secondary {
  color: var(--formsflow-text-black, #131313);
  background-color: var(--formsflow-lightest-secondary, #f2f2f2); }

.formsflow-btn-secondary:hover {
  background-color: var(--formsflow-secondary, #ced7e0); }

.formsflow-btn-secondary:focus {
  border: 2px solid var(--formsflow-secondary, #ced7e0); }

.formsflow-btn-secondary-outline {
  color: var(--formsflow-text-black, #131313);
  background-color: var(--formsflow-bg-white, #ffff);
  border: 2px solid var(--formsflow-secondary, #ced7e0); }

.formsflow-btn-secondary-outline:hover {
  background-color: var(--formsflow-secondary, #ced7e0); }

.formsflow-btn-secondary-outline:focus {
  background-color: var(--formsflow-lightest-secondary, #f2f2f2); }

.formsflow-btn-danger {
  color: var(--formsflow-text-white, #ffff);
  background-color: var(--formsflow-danger, #c70f0f); }

.formsflow-btn-danger:hover {
  background-color: var(--formsflow-dark-danger, #8c0b0b); }

.formsflow-btn-danger:focus {
  border: 2px solid var(--formsflow-light-danger, #f7dbdb); }

.formsflow-btn-danger-outline {
  color: var(--formsflow-danger, #c70f0f);
  background-color: var(--formsflow-bg-white, #ffff);
  border: 2px solid var(--formsflow-light-danger, #f7dbdb); }

.formsflow-btn-danger-outline:hover {
  color: var(--formsflow-text-white, #ffff);
  background-color: var(--formsflow-dark-danger, #8c0b0b); }

.formsflow-btn-danger-outline:focus {
  color: var(--formsflow-text-white, #ffff);
  background-color: var(--formsflow-danger, #c70f0f); }

/* Style the tab */
.formsflow-tab {
  font-family: var(--formsflow-font-family, "Poppins", sans-serif);
  overflow: hidden;
  border-bottom: 1px solid var(--formsflow-medium-secondary, #b4b4b4);
  opacity: 1; }

/* Style the buttons that are used to open the tab content */
.formsflow-tab button {
  color: var(--formsflow-primary, #1b34fb);
  margin-right: 3.125rem;
  background-color: inherit;
  float: left;
  border: 2px solid var(--formsflow-bg-white, #ffff);
  outline: none;
  cursor: pointer;
  padding: 0.875rem 1rem;
  transition: 0.3s;
  font-size: 1rem;
  text-align: center;
  opacity: 1; }

/* Change background color of buttons on hover */
.formsflow-tab button:hover {
  border-bottom: 2px solid var(--formsflow-primary, #1b34fb); }

/* Create an active/current tablink class */
.formsflow-tab button:focus-visible {
  border: 2px solid var(--formsflow-info, #3b99fc);
  border-radius: 4px; }

.formsflow-tab button:focus {
  border-bottom: 2px solid var(--formsflow-primary, #1b34fb); }

/* Style the logo */
.formsflow-logo {
  opacity: 1;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.375rem; }

.formsflow-logo img, .formsflow-logo a {
  max-width: 100%;
  height: 1.5rem; }

.formsflow-logo div {
  font-size: 1.2rem;
  font-weight: 700;
  color: black; }

/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
.formsflow-d-flex {
  display: flex; }

.formsflow-justify-content-between {
  justify-content: space-between; }

.formsflow-justify-content-evenly {
  justify-content: space-evenly; }

.formsflow-justify-content-around {
  justify-content: space-around; }

.formsflow-justify-content-start {
  justify-content: start; }
