
$fwf-primary: var(--fwf-primary,#1B34FB );
$fwf-secondary: var(--fwf-secondary,#B4B4B4 );
$fwf-warning: var(--fwf-warning,#FCBA19 );
$fwf-danger: var(--fwf-danger,#C70F0F );
$fwf-success: var(--fwf-success,#157F1F );
$fwf-info: var(--fwf-info,#3B99FC );
$fwf-hover-blue: var(--fwf-hover-blue,#D1D6FE);
$fwf-light-blue: var(--fwf-light-blue,#E8EAFE);

// text variable

$fwf-text-white: var(--fwf-text-white, #ffff);
$fwf-text-dark: var(--fwf-text-dark, #0000);
 


