:root {
    // success variable
  --formsflow-success: #157f1f;
  --formsflow-dark-success: #0b4010;
  --formsflow-light-success: #cde8d0;

    // primary variable
  --formsflow-primary: #1b34fb;
  --formsflow-light-primary: #d1d6fe;
  --formsflow-lightest-Primary: #e8eafe;

    // info variable
  --formsflow-info: #3b99fc;
  --formsflow-light-info: #d9eaf7;

    // danger variable
  --formsflow-danger: #c70f0f;
  --formsflow-dark-danger: #8c0b0b;
  --formsflow-light-danger: #f7dbdb;

    // warning variable
  --formsflow-warning: #fcba19;
  --formsflow-dark-warning: #6c4a00;
  --formsflow-light-warning: #f9f1c6;

    // secondary variable
  --formsflow-secondary: #ced7e0;
  --formsflow-lightest-secondary: #f2f2f2;
  --formsflow-light-secondary: #e6e6e6;
  --formsflow-medium-secondary: #b4b4b4;
  --formsflow-dark-secondary: #787878;


    // color variable
  --formsflow-white: #ffffff;
  --formsflow-black: #131313;
}
